.body {
    background-color: rgb(243, 232, 209);

}


/*HERO*/
.header {
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    position: relative;
    z-index: 1;

}

.header,
.navbar {
    background: url('assest/hero-bg.jpg') no-repeat center center/cover;
    background-size: cover;
}

.btn {
    background-color: rgb(233, 121, 23) !important;
    border-radius: 0% !important;
    color: white !important;
}

.hero-img-bg {
    position: absolute;


}

.hero-subtitle {
    color: orange;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 40px;

}

.hero-title {
    color: rgb(241, 214, 198);
    font-size: 70px;
    font-weight: bold;
}

.hero-text {
    color: rgb(241, 214, 198);
    font-size: 20px;
}

.hero-banner {
    float: left;

}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Opacity for better readability */
    z-index: -1;
}



.navbar {
    transition: background-color 0.5s;
    background: none;
}


.promo{
    background-color: rgb(249,246,240);
}

.menu{
    aspect-ratio: 2/1; 
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
  }
  
  
  .p-card {
    position: relative;
    background-color: white;
    width: 25%;
    display: inline-block;
    scroll-snap-align: center;
    z-index: 0;
    margin-left: 3px;
    margin-right: 3px;
    }

   

    .box  {
       position: absolute;
       width: 100%;
       height: 35%;
       background-color: orange; 
       margin-top: -55%;
       z-index: -1;
       transition-property: height;
       transition-timing-function: linear;
       transition: top;
       transition: .5s;
       -webkit-transition: .5s;
       -o-transition: .5s;
       -moz-transition: .5s;
       bottom: 0;
    }

    .p-card:hover .box {
    bottom: 0;
    height: 100%; 
    
    }


    .p-card:hover .card-body p {
        color: bisque !important;
    }

    .p-card:hover .card-body h4 {
        color: bisque ;
    }

    

/*ABOUT*/

.about-img {
    position: absolute;
    transform: scale(1);
    left: 200px;
}

.scale-up-anim {
    animation: scaleUp 1s linear infinite alternate;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.about-title {
    font-size: 40px;
    font-weight: bold;
}

.icon-circle {
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.icon-circle .check-icon {
    color: white;
    font-size: 16px;
}

.check-item {
    font-size: bold;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn-order {
    background-color: orange;
    color: white;
    height: 50px;
    width: 130px;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
}

.btn-order:hover {
    background-color: black;
}

/*FOOD MENU*/
.food-menu{
    background-color:rgb(249,246,240) ;
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-block-end: 40px;
  }
  
  .filter-btn {
    background-color: white;
    color:black;
    margin: 5px;
    font-family: var(--ff-rubik);
    font-weight: var(--fw-500);
    padding: 5px 20px;
    border: 1px solid var(--border-color, var(--cultured));
  }
  
  .filter-btn.active {
    background-color: orange;
    
  }

 .sec-hero {
    background: url('assest/hero-bg.jpg') no-repeat center center/cover;
    background-size: cover;
    height: 500px;
}

.quality{
    color: orange;
    
}

.burger-img{
    position: absolute;
}

.sale-img{
    position: relative;
    width: 30%;
    height: 30%;
    margin-left: 50px;
    margin-top: 95px;
    animation: scaleUp 1s linear infinite alternate;
}